p {color:black;}

img{width: 550px; max-width: 100%;}

div{background-color: pink;}
div{font-size: 200%;}

h1 {color:purple
}

h2 {color:black
font-size: 30px;
}


body{text-align: center;}

img {float: right;}
ol {color: hotpink;}

body {background-color: beige;}

section{background: hotpink;}
head{background:pink;}
article{background:white;}
aside{width: 30%;
padding-left:30px;
margin-left:30px;
float:right;
font-style:italic;
Background-color: beige;
}

footer{padding-bottom:15px;
padding-top:15px;
float:bottom;}

figure{width:50px;
float:right;}

main{background-color:pink;}
